@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
<script src="@Url.Content("~/Scripts/UserControls/Importarlineas/Importarlineas.js")"></script>
<div ng-controller="ImportarlineasCtrl">
    <div class="modal" id="importarlineas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 90% !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">@General.LblBusquedas - {{Titulo}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div>
                            <h4 ng-show="loading">@General.LblLoading</h4>
                            <div ui-grid="gridOptions" ng-keydown="keydown" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid"></div>
                            <div class="modal-footer">
                                <button type="button" ng-click="cancelar()" id="btnAceptarimportarlineas" class="btn btn-ar btn-default">@General.LblCancelar</button>
                                <button type="button" ng-click="aceptar()" id="btnCancelarimportarlineas" class="btn btn-ar btn-primary" data-dismiss="modal" ng-disabled="!selected || selected <= 0">@General.LblAceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














