@using System.Web.Mvc.Html
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Pedidos
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Albaranes.AlbaranesModel
@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"] == "Edit");
    var isNuevo = !isreadonly && !iseditable;
    var cvPedidos = FCampoverificacion.Instance.GetModel<PedidosModel>(WebHelper.ContextService);

}

<div >

    <div class="form-group">
        <label class="control-label col-md-2">@Albaranes.Fkclientes</label>
        <div class="col-md-10">
            <label class="control-label bolder " ng-cloak>{{cliente}}</label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Pedidos.PedidosDesde</label>
        <div class="col-md-10">
            @{

                cvPedidos.Name = "PedidosDesde";
                cvPedidos.Url = Url.Action("PedidosParaImportarApi", "Api");
                cvPedidos.ControlesAsociados = "[ { \"cliente\":\"Fkclientes\" } ]";
                cvPedidos.Autofocus = false;
            }

            @Html.Partial("CampoverificacionUI", cvPedidos)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">@Pedidos.PedidosHasta</label>
        <div class="col-md-10">
            @{

                cvPedidos.Name = "PedidosHasta";
                cvPedidos.Url = Url.Action("PedidosParaImportarApi", "Api");
                cvPedidos.ControlesAsociados = "[ { \"cliente\":\"Fkclientes\" } ]";
                cvPedidos.Autofocus = false;

            }
            @Html.Partial("CampoverificacionUI", cvPedidos)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <button type="button" ng-disabled="!Fkclientes" class="btn btn-grey" ng-click="ImportarLineas('@Url.Action("PedidosLinParaImportarApi", "Api")')">
                <i class="fa fa-search"></i>
                @General.BtnBuscarLineas
            </button>
        </div>

    </div>

</div>

