@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{
    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}




@using (Html.BeginForm("EditOperacion", "Guiascontables", FormMethod.Post, new { @class = "form-horizontal" , @id="mainform"}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        

        @{
            ViewData["operacion"] = "Edit";
        }
        @Html.Partial("_guiascontables", Model as GuiascontablesModel)

        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-info" type="Submit" ng-disabled="!MainFormIsEnable">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    @General.BtnGuardar
                </button>
            </div>
        </div>
    </div>
}

@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView }
)

}