@using System.Drawing
@using System.Web.UI.WebControls
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@using ViewType = DevExpress.XtraCharts.ViewType
@model Marfil.Dom.Persistencia.Model.Graficaslistados.GraficasModel
@{
        var idgrafico ="grafico" + (Guid.NewGuid()).ToString().Replace("-", "");
}

<div ng-controller="GraficasCtrl" ng-init="init('@Url.Action("Datos","Graficas")','@Model.Codigo','@idgrafico','@((int)Model.Tipografica)','@Model.Titulo','@Model.Agruparpor','@Model.Valores')">
    <!--Div that will hold the chart-->
    <div class="col-md-12 text-center" ng-show="Loading"><span><i class="fa fa-clock-o"></i> @General.LblLoading</span></div>
    <div   id="@idgrafico" class="chart"></div>
    
</div>