@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.Model.Documentos.AlbaranesCompras
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
    var modelview = Model as AlbaranesComprasModel;
    var modelImprimir = modelview.GetListFormatos();
}



<div>
    
    @{
        ViewData["readonly"] = true;
    }
    <div class="form-horizontal">
        @Html.Partial("_AlbaranesCompras", Model as AlbaranesComprasModel)
    </div>
</div>
@if (ViewBag.Modificar)
{
    <div class="margin-top">
        <a class="btn btn-info no-margin-left" href="@Url.Action("Edit", new {id = ((AlbaranesComprasModel) Model).Id})">
            <i class="ace-icon fa fa-pencil bigger-110"></i>
            @General.LblEditar
        </a>

       
    </div>
}
@Html.Partial("_envioemails")
@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView }
)

}