@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model
@using Resources
@model IModelView
@{
    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
    var user = HttpContext.Current.User as ICustomPrincipal;
    var municipioModel = Model as MunicipiosModel;
}

@using (Html.BeginForm("EditOperacion", "Municipios", FormMethod.Post, new { @class = "form-horizontal", @id = "mainform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
            ViewData["operacion"] = "Edit";
        }
        @Html.Partial("_municipios", Model as MunicipiosModel)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 margin-top">
                <button class="btn btn-info" type="Submit" ng-disabled="!MainFormIsEnable">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    @General.BtnGuardar
                </button>
            </div>
        </div>
    </div>
}


@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

}