@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Configuracion.Inmueble
@using Marfil.Dom.Persistencia.Model.Iva
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@model InmueblesModel
@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null ? (bool)ViewData["operacion"] : false;
    var isNuevo = !isreadonly && !iseditable;

    var vias = WebHelper.GetApplicationHelper().GetListTiposVias().Select(f => new SelectListItem() { Text = f.Descripcion, Value = f.Valor });

}

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(f => Model.FkTipoVia)

        @Html.DropDownListFor(f => Model.FkTipoVia, vias, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
        @Html.ValidationMessageFor(f => Model.FkTipoVia, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-9">
        @Html.LabelFor(f => ((InmueblesModel)Model).NombreVia)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).NombreVia, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
        @Html.ValidationMessageFor(f => Model.NombreVia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(f => Model.TipoNumeracion)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).TipoNumeracion, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(f => Model.NumCasa)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).NumCasa, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
        @Html.ValidationMessageFor(f => Model.NumCasa, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(f => Model.CalifNumero)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).CalifNumero, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(f => Model.Bloque)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Bloque, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(f => Model.Portal)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Portal, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(f => Model.Escalera)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Escalera, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(f => Model.Planta)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Planta, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(f => Model.Puerta)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Puerta, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-6">
        @Html.LabelFor(f => ((InmueblesModel)Model).Complemento)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).Complemento, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(f => ((InmueblesModel)Model).PoblaDiferente)

        @Html.TextBoxFor(f => ((InmueblesModel)Model).PoblaDiferente, isreadonly ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
    </div>
</div>