
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@model Marfil.Dom.Persistencia.Model.ConfiguracionModel

<div class="form-group">

    <div class="form-group">
        @Html.LabelFor(f => Model.Estadopresupuestoscomprasinicial, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(f => Model.Estadopresupuestoscomprasinicial, Model.Estadospresupuestoscompras.Select(f => new SelectListItem() {Value = f.CampoId, Text = f.Descripcion}),new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(f => Model.Estadopresupuestoscomprasparcial, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(f => Model.Estadopresupuestoscomprasparcial, Model.Estadospresupuestoscompras.Select(f => new SelectListItem() {Value = f.CampoId, Text = f.Descripcion}), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.Estadopresupuestoscomprastotal, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(f => Model.Estadopresupuestoscomprastotal, Model.Estadospresupuestoscompras.Select(f => new SelectListItem() { Value = f.CampoId, Text = f.Descripcion }), new { @class = "form-control" })
        </div>
    </div>
</div>


