@using System.Web.Mvc.Html
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.DivisionLotes.DivisionLotesModel
@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"] == "Edit");
    var isNuevo = !isreadonly && !iseditable;
    Session["readonly"] = isreadonly;
}

<div class="form-group">

    <div class="col-md-12 margin-bottom">
        @if (!isreadonly)
        {
            <span class="pull-right">
                <button type="button" class="btn btn-success btn-sm" ng-click="Nuevalineacoste()" title="@General.LblCrear - (+)">
                    <i class="fa fa-plus"></i>
                    @General.BtnNuevoRegistro
                </button>
            </span>
        }
    </div>
    <div class="col-md-12">
        @Html.Partial("_divisionlotescostesadicionales", Model.Costes)
    </div>

    @if (iseditable && Model.Estado.Tipoestado > TipoEstado.Curso)
    {
        <div class="col-md-12 margin-top">
            <span class="pull-right">
                <button type="button" class="btn btn-success btn-sm" ng-click="Guardarcostes()" title="@General.BtnGuardar">
                    <i class="fa fa-save"></i>
                    @General.BtnGuardar
                </button>
            </span>
        </div>
    }
</div>

<script type="text/javascript">
    function CreateRowCostes() {
        eventAggregator.Publish("nuevalineacoste", "");
    }
</script>