@using Marfil.App.WebMain.Controllers
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Presupuestos.PresupuestosModel
@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"] == "Edit");
    var isNuevo = !isreadonly && !iseditable;
    var cvserie = FCampoverificacion.Instance.GetModel<SeriesModel>(WebHelper.ContextService);
}
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/Formulas.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/FormulasService.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Presupuestos/PresupuestosController.js")"></script>

<div ng-controller="PresupuestosCtrl" ng-init="init('@Model.Fkregimeniva', @((!isNuevo).ToString().ToLower()),'@Model.Fkclientes','@Model.Fkagentes','@Model.Fkcomerciales','@Model.Fkbancosmandatos','@Model.Fkobras',@isNuevo.ToString().ToLower(),'@Url.Action("PresupuestosRefresh")','@Url.Action("BancosMandatosApi","Api")','@string.Format("{0};{1};{2}",Model.Referencia??string.Empty,(Model.DocumentosImpresion?.Tipo)?.ToString()??string.Empty,Model.DocumentosImpresion?.Defecto??string.Empty)')">


    <div id="tabs">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#general">@General.LblGeneral</a></li>
            <li><a data-toggle="tab" href="#direcciones">@Clientes.TituloEntidadSingular</a></li>
            <li><a data-toggle="tab" href="#comerciales">@Comerciales.TituloEntidad</a></li>
            <li><a data-toggle="tab" href="#otros">@General.LblOtros</a></li>
            <li><a data-toggle="tab" href="#desglose">@General.LblDesglose</a></li>
            <li><a data-toggle="tab" href="#componentes">@Articulos.Componentes</a></li>
            @if (iseditable || isreadonly)
            {
                <li><a data-toggle="tab" href="#galeria">@General.GestionFicheros</a></li>
            }

        </ul>
    </div>
    <div class="tab-content">
        <div id="general" class="tab-pane fade in active">
            @Html.Partial("_cabecerapresupuestos", Model)
        </div>
        <div id="direcciones" class="tab-pane fade in">
            @Html.Partial("_clientes", Model)
        </div>
        <div id="comerciales" class="tab-pane fade in">
            @Html.Partial("_comerciales", Model)
        </div>
        <div id="otros" class="tab-pane fade in">
            @Html.Partial("_otros", Model)
        </div>
        <div id="desglose" class="tab-pane fade in">
            @Html.Partial("_desglose", Model)
        </div>
        <div id="componentes" class="tab-pane fade in">
            @Html.Partial("_componentes", Model.Componentes)
        </div>
        @if (iseditable || isreadonly)
        {
            <div id="galeria" class="tab-pane fade in">
                @Html.Partial("_galeriaimagenes", Model.Galeria)
            </div>
        }

    </div>

</div>
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        if (target === "#desglose") {
            GridViewLineas.Refresh();
            GridViewTotales.Refresh();
        }
    });

    $.validator.setDefaults({ ignore: null });

</script>
@if (!isreadonly)
{

    @Html.Partial("UsersControls/_ultimoprecioModal")
    @Html.Partial("UsersControls/_calculadoraDocumentos")
}



