@using Marfil.Dom.Persistencia.Model
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.CRM
@using Resources
@model IModelView

@{
    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
    var objModel = Model as OportunidadesModel;
}

<h2>@General.LblBorrar</h2>

<h3>@General.LblMensajeConfirmacionBorrado</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(f=>objModel.Referencia)
        </dt>

        <dd>
            @objModel.Referencia 
        </dd>
            <dt>
                @Html.DisplayNameFor(f => objModel.Asunto)
            </dt>

            <dd>
                @objModel.Asunto
            </dd>
        
       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-info" type="Submit" ng-disabled="!MainFormIsEnable">
                <i class="ace-icon fa fa-trash bigger-110"></i>
                @General.LblContinuar
            </button>

            <a class="btn btn-info" href="@Url.Action("Index")">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                @General.LblCancelar
            </a>
            
        </div>
    }
</div>


@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

}
