@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Facturas.AsistenteFacturacionModel
@{

    var toolbarModel = Model as IToolbar;
    ViewBag.Title = toolbarModel.Toolbar.Titulo;

}

<script src="@Url.Content("~/components/fuelux/js/wizard.js")"></script>
<script src="@Url.Content("~/assets/js/src/elements.wizard.js")"></script>
<script src="@Url.Content("~/Scripts/UserControls/Facturas/facturarcontroller.js")"></script>
<div ng-controller="FacturarCtrl">

    <div id="fuelux-wizard-container">
        <div>
            <!-- #section:plugins/fuelux.wizard.steps -->
            <ul class="steps">
                <li data-step="1" class="active">
                    <span class="step">1</span>
                    <span class="title">Seleccionar filtros</span>
                </li>

                <li data-step="2">
                    <span class="step">2</span>
                    <span class="title">Seleccionar albaranes</span>
                </li>

                <li data-step="3">
                    <span class="step">3</span>
                    <span class="title">Fin</span>
                </li>

            </ul>

            <!-- /section:plugins/fuelux.wizard.steps -->
        </div>

        <hr />

        <!-- #section:plugins/fuelux.wizard.container -->
        <div class="step-content pos-rel">
            <div class="step-pane" data-step="1">
                <div>
                    <h3 class="green center">Seleccionar los filtros de la búsqueda</h3>
                    @Html.Partial("_procesofacturacionstep1", Model)
                </div>
            </div>

            <div class="step-pane" data-step="2">
                <div>
                    <h3 class="green center">Seleccionar los albaranes</h3>
                    @Html.Partial("_procesofacturacionstep2", Model)
                </div>
            </div>

            <div class="step-pane" data-step="3">
                <div class="center">
                    
                    @Html.Partial("_procesofacturacionstep3", Model)
                </div>
            </div>

        </div>

        <!-- /section:plugins/fuelux.wizard.container -->
    </div>

    <hr />
    <div class="wizard-actions">
        <!-- #section:plugins/fuelux.wizard.buttons -->
        <button class="btn btn-prev">
            <i class="ace-icon fa fa-arrow-left"></i>
            @General.LblAnterior
        </button>

        <button class="btn btn-success btn-next" data-last="@General.LblFacturar">
            @General.LblSiguiente
            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>

        <!-- /section:plugins/fuelux.wizard.buttons -->
    </div>


</div>




@section Scripts
{
    <script>
        $(document).ready(function() {
            var $validation = false;
            $('#fuelux-wizard-container').ace_wizard().on('actionclicked.fu.wizard', function(e, info) {
                if (info.step == 1) {
                    var flag = false;
                    if (!$("#step1-form").validate().form()) {
                        e.preventDefault();
                    } else {
                        var data = {
                            Url: "@Url.Action("AlbaranesParaImportarApi", "Api")",
                            campoIdentificador: "Referencia",
                            IdComponenteasociado: "",
                            IdFormulariomodal: "",
                            Titulo: "Albaranes pendientes de facturar",
                            Params: "{\"cliente\":\"" + $("#Fkclientes").val() + "\",\"fkalbaraninicio\":\"" + $("#Fkalbaraninicio").val() + "\",\"fkalbaranfin\":\"" + $("#Fkalbaranfin").val() + "\"}"
                        };

                        eventAggregator.Publish("_buscaralbaranespendientes", data);
                    }

                } else if (info.step == 2 && info.direction != "previous") {

                    if (!$("#step2-form").validate().form()) {
                        e.preventDefault();
                    }
                    if ($("[name='Fechafactura']").val() === "" ) {

                        $("#fechafacturaerror").html("El campo Fecha es obligatorio");
                        $("#fechafacturaerror").show();
                        e.preventDefault();
                    }
                    if ($("[name='albaraneseleccionados']").val() <= "0") {

                        $("#albaraneseleccionadoserror").html("Debe seleccionar al menos un albarán");
                        e.preventDefault();
                    }
                    
                } else if (info.step == 3 && info.direction != "previous") {

                   

                    var data = {
                        
                        returnUrl:"@Url.Action("AsistenteFacturacion", "Facturas")"
                    }
                    eventAggregator.Publish("_facturaralbaranes", data);
                }
            });

        });
    </script>

}


@using (Html.BeginForm("Facturar", "Facturas", FormMethod.Post, new { @id = "facturarform" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="serie" value=""/>
    <input type="hidden" name="fecha" value=""/>
    <input type="hidden" name="albaranesreferencia" value=""/>
    <input type="hidden" name="returnUrl" value="@Url.Action("AsistenteFacturacion", "Facturas")" />
}


