@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias
@using Resources
@model BaseTablasVariasModel
 
<script src="@Url.Content("~/Scripts/TablasVarias/tablasvarias.js")"></script>
    @Html.Partial("_exporttablavaria")
 
                @using (Html.BeginForm("Edit", "TablasVarias", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <span class="pull-right" style="margin-bottom: 5px" >
                            <a class="btn btn-success btn-sm" href="javascript:CreateRow(); ">
                                <i class="fa fa-plus"></i>
                                @General.BtnAñadirLinea
                            </a>
                        </span>
                         
                        <span>
                            <button class="btn @Html.Raw(WebHelper.DevexpressAA ? "btn-primary btn-sm" : "btn-link")" type="button" name="OutputFormat" onclick="exportar('CSV')" value="CSV">
                                <i class="fa fa-file-text-o"></i>
                                Csv
                            </button>
                            |
                            <button class="btn @Html.Raw(WebHelper.DevexpressAA ? "btn-primary btn-sm" : "btn-link")" type="button" name="OutputFormat" onclick="exportar('PDF')" value="PDF">
                                <i class="fa fa-file-pdf-o"></i> Pdf
                            </button>
                            |
                            <button class="btn @Html.Raw(WebHelper.DevexpressAA ? "btn-primary btn-sm" : "btn-link")" type="button" name="OutputFormat" onclick="exportar('XLS')" value="XLS">
                                <i class="fa fa-file-excel-o"></i> Xls
                            </button>    
                        </span>
                        
                    </div>
                   
                    <div class="row">
                        @Html.HiddenFor(f => Model.Clase)
                        @Html.Partial("TablasvariasLin",Model)
                    </div>

                    <div class="row">
                        <button class="btn btn-info margin-bottom margin-top" type="submit">
                            <i class="fa fa-check"></i>
                            @General.BtnGuardar
                        </button>
                    </div>
                }
 

@section GridView
{
    @Html.DevExpress().GetStyleSheets(

    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }

)
    @Html.DevExpress().GetScripts(
    
    new Script { ExtensionSuite = ExtensionSuite.GridView }
   
)



  
}