@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Resources
@model Marfil.Dom.Persistencia.Model.ImportarModel
@{
    var toolbarModel = Model as IToolbar;
    ViewBag.Title = "Importar Artículos"; //toolbarModel.Toolbar.Titulo;

}


<script src="@Url.Content("~/components/fuelux/js/wizard.js")"></script>
<script src="@Url.Content("~/assets/js/src/elements.wizard.js")"></script>
<div>
    <h3 class="green center">Seleccionar fichero y delimitador de contenido</h3>
    <br />    

    <div class="alert alert-info" align="center">
        <p>Contenido del fichero: </p>  
        <br />     
        <table border="1" align="center">
            <thead>
                <tr>       
                    <th class="bolder center" style="min-width:120px">Código artículo</th>
                    <th class="bolder center" style="min-width:100px">Descripción</th>
                    <th class="bolder center" style="min-width:100px">Descripción 2</th>
                    <th class="bolder center" style="min-width:80px">Largo</th>
                    <th class="bolder center" style="min-width:80px">Ancho</th>                    
                    <th class="bolder center" style="min-width:80px">Grueso</th>
                    <th class="bolder center" style="min-width:100px">KilosUd</th>
                    <th class="bolder center" style="min-width:80px">Medida libre</th>
                    <th class="bolder center" style="min-width:100px">Excluir comisiones</th>
                    <th class="bolder center" style="min-width:100px">Exento retención</th>
                    <th class="bolder center" style="min-width:100px">Precio venta</th>
                    <th class="bolder center" style="min-width:100px">Precio compra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">Código artículo siguiendo la
                                       estructura de códigos de Marfil 
                                       (Familia|Materiales|Caracerísticas|
                                       Grosores|Acabados)</td>
                    <td class="center"></td>
                    <td class="center"></td>    
                    <td class="center"></td>                
                    <td class="center"></td>                
                    <td class="center"></td>     
                    <td class="center"></td>     
                    <td class="center"></td>   
                    <td class="center"></td>   
                    <td class="center"></td>   
                    <td class="center"></td>   
                    <td class="center"></td>   
                </tr>
            </tbody>
        </table>
    </div>
    
    <br />

    <div class="form-group">

        @using (Html.BeginForm("ImportarArticulos", "Importar", new { ImportarModel = Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.LabelFor(f => Model.Fichero, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.TextBoxFor(f => Model.Fichero, new { @type = "file" })
            <br />            
            @Html.LabelFor(f => Model.Cabecera, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.CheckBoxFor(f => Model.Cabecera)
            <br />
            <br />
            @Html.LabelFor(f => Model.Delimitador, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.TextBoxFor(f => Model.Delimitador, new { @Value = ';' })
            <br />
            <br />
            <label class="control-label col-md-4" align="right"></label>
            <input type="submit" value="Importar" class="btn btn-default" />
        }

        <br />

        @if (TempData["Success"] != null && TempData["Errors"] == null)
        {
            <p class="alert alert-success" id="successMessage" align="center">@TempData["Success"]</p>
        }
        @if (TempData["Errors"] != null)
        {                    
            <pre class="alert alert-danger" id="divErrorMessage" align="center">@TempData["Errors"]</pre>
        }
    </div>    
</div>