<script src="@Url.Content("~/Scripts/ConsultaVisual/ConsultaVisual.js")"></script>
<script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>

<head>

    <link rel="stylesheet" href="@Url.Content("~/content/Estilos.css")">

    <style>

    </style>

</head>

<body>

    <div ng-controller="AlmacenesCtrl" ng-init="init('@Url.Action("","ConsultaVisual")')">
       
    <br /><br />

        <div class="jumbotron">
            <div class="container">
                <h1>Almacenes</h1>
            </div>
        </div>

        <br /><br />

        <div class="row"> <!--Estilo Fila-->
            <div class="center"> <!--centrado-->
                <div class="mi-configuracion col-md-4 col-xs-12" ng-repeat="item in almacenes"> <!--Gruid son 12 columnas. Cada almacen va a ocupar 4-->
                    <a class="btn-group thumbnail" role="button" href="@Url.Action("ViewFamilias")/{{item.Id}}"> <!--Cada almacen en una caja para que no se salga-->
                        <div align="center" class="cajaTitulo">
                            {{item.Descripcion}}
                        </div>
                        <img src="~/Images/almacenicon/warehouse.svg" style="width:300px;height:300px;">  
                        <br />
                        <div align="center" class="cajaInformacion">
                            <p>ID de almacén: {{item.Id}}</p>
                            <p>Coordenadas: {{item.Coordenadas}}</p>
                        </div>
                    </a>
                </div>
            </div>       
        </div>
    </div>

</body>

<script type="text/javascript">

</script>




