<script src="@Url.Content("~/Scripts/ConsultaVisual/ConsultaVisual.js")"></script>
<script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>

<head>

    <link rel="stylesheet" href="@Url.Content("~/content/Estilos.css")">

    <style>

    </style>

</head>

<body>

    <div ng-controller="ProductosCtrl" ng-init="init('@Url.Content("~/Images/imagenesauxiliares/consultadefecto.png")')">

        <br /><br />

        <div class="jumbotron">
            <div class="container">
                <h1>{{DescripcionGrupo}}</h1>
            </div>
        </div>

        <br /><br />

        <div class="row">
            <!--Estilo Fila-->
            <div class="center">
                <!--centrado-->
                <div class="mi-configuracion col-md-6 col-xs-12" ng-repeat="item in productos">
                    <!--Gruid son 12 columnas. Cada almacen va a ocupar 4-->
                    <a class="btn-group thumbnail" role="button" href="@Url.Action("ViewProducto")/{{item.IdArticulo}}">
                        <!--Cada almacen en una caja para que no se salga-->
                        <div align="center" class="cajaTitulo">
                            {{item.DescripcionArticulo}}
                        </div>
                        <img width="700" height="450" alt="lote {{item.Descripcion}}" ng-src="{{Getsrc('@(Url.Action("Thumbnail", "GestionDocumental"))/',item.Ficheros)}}" />
                        <br />
                        <div class="cajaInformacion">
                            <div class="cajaInformacionStock">
                                <h3 class="display-8">INFORMACIÓN DE STOCK</h3>
                            </div>
                            <p><img src="~/Images/almacenicon/jigsaw.svg" width="40" height="40">   {{item.Cantidad}} piezas disponibles </p>
                            <p><img src="~/Images/almacenicon/ruler.svg" width="40" height="40">   {{item.Metros}} metros disponibles </p>
                            <p><b>{{item.numLotes}} lotes disponibles </b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

</script>