@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos
@using Marfil.App.WebMain.Misc
@using Resources
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Marfil.Dom.Persistencia.Model.FicherosGenerales;

@*Rai*@

@model  Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos.AsistenteMovimientosTesoreriaModel
@{
    var cvcuentas = FCampoverificacion.Instance.GetModel<CuentasModel>(WebHelper.ContextService);
    var cvcircuitos = FCampoverificacion.Instance.GetModel<CircuitoTesoreriaCobrosModel>(WebHelper.ContextService);
    var cvfp = FCampoverificacion.Instance.GetModel<FormasPagoModel>(WebHelper.ContextService);
    var cvsituaciones = FCampoverificacion.Instance.GetModel<SituacionesTesoreriaModel>(WebHelper.ContextService);
    var gruposPago = WebHelper.GetApplicationHelper().GetListGruposFormasPago();
}

<script src="@Url.Content("~/Scripts/jquery.redirect.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/Formulas.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/FormulasService.js")"></script>

    <form class="form-horizontal" id="step1-form">

        <br />

        @*Tipo*@
        <div class="form-group">
            @Html.LabelFor(f => Model.Tipo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EnumDropDownList("Tipo", Model.Tipo, (object)new { @class = "tipo-select", @style = "width: 350px;" })
                @Html.ValidationMessageFor(f => Model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*CircuitosTesoreria*@
        <div id="cuenta1" class="form-group cuentaa1" onblur="myFunction()">
            @Html.LabelFor(f => Model.Circuitotesoreria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    cvcircuitos.Name = "Circuitotesoreria";
                    cvcircuitos.Url = Url.Action("CircuitosTesoreriaApi", "Api");
                    cvcircuitos.Valor = Model.Circuitotesoreria;
                    cvcircuitos.Titulo = "Circuitos de tesorería";
                    cvcircuitos.ControlesAsociados = "[ { \"tipoasignacion\":\"Tipo\" } ]";
                    cvcircuitos.Obligatorio = true;
                }
                @Html.Partial("CampoverificacionUI", cvcircuitos)
            </div>
            <div class="col-md-10 col-md-offset-2">
                @Html.ValidationMessageFor(f => Model.Circuitotesoreria, "", new { @class = "text-danger", @onchange = "onchangeeventcargo1();" })
            </div>
        </div>

        @*Grupos Modo pago*@
        <div class="form-group">
            @Html.LabelFor(f => Model.Fkmodospago, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(f => Model.Fkmodospago, gruposPago.Select(f => new SelectListItem() { Value = f.Valor, Text = f.Descripcion }), new { @class = "form-control", @style = "width: 350px;" })
                @Html.ValidationMessageFor(f => Model.Fkmodospago, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Tercero desde hasta*@
        <div class="form-group">
            @Html.LabelFor(f => Model.TerceroDesde, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    cvcuentas.Name = "TerceroDesde";
                    cvcuentas.Url = Url.Action("CuentasTiposTercerosExclusiveApi", "Api");
                    cvcuentas.Valor = Model.TerceroDesde;
                    cvcuentas.Titulo = "TerceroDesde";
                    /*campoverificacion.SoloLectura = isreadonly;*/
                }
                @Html.Partial("CampoverificacionUI", cvcuentas)
            </div>
            <div class="col-md-10 col-md-offset-2">
                @Html.ValidationMessageFor(f => Model.TerceroDesde, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(f => Model.TerceroHasta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    cvcuentas.Name = "TerceroHasta";
                    cvcuentas.Url = Url.Action("CuentasTiposTercerosExclusiveApi", "Api");
                    cvcuentas.Valor = Model.TerceroHasta;
                    cvcuentas.Titulo = "TerceroHasta";
                    /*campoverificacion.SoloLectura = isreadonly;*/
                }
                @Html.Partial("CampoverificacionUI", cvcuentas)
            </div>
            <div class="col-md-10 col-md-offset-2">
                @Html.ValidationMessageFor(f => Model.TerceroHasta, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Fecha desde hasta*@

        <div class="form-group">
            @Html.LabelFor(f => Model.FechaDesde, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(f => Model.FechaDesde)
            </div>
            @Html.LabelFor(f => Model.FechaHasta, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(f => Model.FechaHasta)
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-4 col-md-offset-2">
                @Html.ValidationMessageFor(f => Model.FechaDesde, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 col-md-offset-2">
                @Html.ValidationMessageFor(f => Model.FechaHasta, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Fecha*@
        <div class="form-group">
            @Html.LabelFor(f => Model.FechaContable, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(f => Model.FechaContable)
            </div>
        </div>   

        <div class="form-group col-md-4" align="right">
            <span class="field-validation-valid text-danger" id="campposvacioserror"></span>
        </div>
    </form>