@using System.Web.UI.WebControls
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Dom.ControlsUI.Busquedas
@using System.Globalization
@using System.Threading
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Resources
@{
    if (Model is IToolbar)
    {
        ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
    }

}
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.ToString()">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marfil - @ViewBag.Title</title>
    @Html.MetaAcceptLanguage()
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <!-- Traducciones javascript -->
    <script src="@Url.Content("~/Scripts/globalize-cultures/Messages/Messages."+ Thread.CurrentThread.CurrentUICulture.ToString() + ".js")"></script>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/components/font-awesome/css/font-awesome.min.css")" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-fonts.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/flags.css")" />
    <!-- Gritter -->
    <link rel="stylesheet" href="@Url.Content("~/components/jquery-ui.custom/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/components/jquery.gritter/css/jquery.gritter.min.css")" />
    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/"  + (WebHelper.DevexpressAA ? "ace.min.AA.css": "ace.min.css"))" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="@Url.Content("~/content/dropdown.css")" />



    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-part2.css")" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.css")" />


    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-ie.css")" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="@Url.Content("~/assets/js/ace-extra.js")"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="@Url.Content("~/components/html5shiv/dist/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/components/respond/dest/respond.min.js")"></script>
    <![endif]-->


    <link rel="stylesheet" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" href="@Html.Raw(WebHelper.DevexpressAA ? Url.Content("~/Content/Grid-AA.css") : Url.Content("~/Content/Grid.css"))" />

    @RenderSection("Css", required: false)
    @Html.RenderCss()

    @Scripts.Render("~/bundles/jquery")
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <!-- Globalization-->

    <script src="@Url.Content("~/Scripts/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>




    <!-- Angular -->
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-touch.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-animate.min.js")"></script>

    <!-- Latinize -->
    <script src="@Url.Content("~/Scripts/latinise.min.js")"></script>
    <!-- Grid -->
    <link rel="styleSheet" href="@Url.Content("~/Content/ui-grid.min.css")" />
    <script src="@Url.Content("~/Scripts/ui-grid.js")"></script>

    <!-- Events -->
    <script src="@Url.Content("~/Scripts/EventAgregator/EventAgregator.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/TablasVarias/ValidatorAgregator.js")"></script>
    <script src="@Url.Content("~/Scripts/VistaPrincipal/MainController.js")"></script>

    <!-- Angular -->
    <script>
        var app = angular.module('angularApp', ['ngTouch', 'ui.grid', 'ui.grid.edit', 'ui.grid.rowEdit', 'ui.grid.cellNav', 'ui.grid.selection', 'campoverificacionModule']);
    </script>

    <script src="@Url.Content("~/Scripts/UserControls/Busquedas/BusquedasController.js")"></script>
    <script src="@Url.Content("~/Scripts/UserControls/CampoVerificacion/CampoverificacionController.js")"></script>
    <script src="@Url.Content("~/Scripts/UserControls/CampoVerificacion/customSelect.js")"></script>
    <script src="@Url.Content("~/Scripts/UserControls/Campoidentificador/CampoidentificadorController.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/Misc/Rellenacod/FRellenacod.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/Misc/Rellenacod/RellenacodGeneric.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/Misc/Rellenacod/RellenacodLetters.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/Misc/Rellenacod/RellenacodLettersSimple.js")"></script>
    <script src="@Url.Content("~/Scripts/Model/Misc/Funciones.js")"></script>
    <script src="@Url.Content("~/Scripts/string-format.min.js")"></script>
    <!-- Header lateral -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mkgSideBar.css")" />
    <script src="@Url.Content("~/Scripts/mkgSideBar.js")"></script>
    @if (WebHelper.DevexpressAA)
    {
        <link rel="stylesheet" href="@Url.Content("~/Content/ValidateAA.css")" />
    }
    <!-- layout -->
    @RenderSection("GridView", required: false)
    <script src="@Url.Content("~/Scripts/Model/Misc/MainpageController.js")"></script>
    <script src="@Url.Content("~/Scripts/DecimalesNumericoDirectiva.js")"></script>
</head>
<body ng-app="angularApp">
    <script>
        sessionStorage.clear();

    </script>
    @Html.Partial("_menuAplicacion")
    @if (Model is IToolbar)
    {
        @Html.Partial("UsersControls/_tools", Model as IToolbar)
    }

    <div id="errors">
        @Html.Partial("_errors")
        @Html.Partial("_success")
        @Html.Partial("_warning")
    </div>

    <div id="mainbody" class="col-md-10 col-md-offset-1" ng-controller="MainpageCtrl">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("Scripts", required: false)
    @RenderSection("Angular", required: false)
    <script src="@Url.Content("~/Assets/js/src/ace.js")"></script>
    <script src="@Url.Content("~/Assets/js/src/ace.sidebar.js")"></script>
    <script src="@Url.Content("~/Assets/js/src/ace.sidebar-scroll-1.js")"></script>
    <script src="@Url.Content("~/Scripts/globalize-cultures/globalize.culture." + Thread.CurrentThread.CurrentUICulture.Name + ".js")"></script>
    <script src="@Url.Content("~/Scripts/GlobalizationCustom.js")"></script>

    @Html.RenderScripts()
    <script src="@Url.Content("~/components/jquery.gritter/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/Scripts/Messages/MessagesService.js")"></script>
    <script src="@Url.Content("~/Scripts/waitingdialog.js")"></script>
    <div>
        @Html.Partial("BusquedasUI", new BusquedasModel() { Nombre = "BusquedaGlobal" })
    </div>

    @RenderSection("Formulariosextra", required: false)
    @RenderSection("Bloqueomodal", required: false)

    <script type="text/javascript">
        var messagesService = new MessagesService($.gritter);
        $(document).ready(function () {
            $("form").submit(function (ev) {

                if (mainControllerAggregator.ExistsElement()) {
                    ev.preventDefault();
                    return;
                }

                var exluded = $("#excludedform").val();
                if ($(this).valid() && !exluded) {
                    waitingDialog.show('@General.LblLoading', { dialogSize: 'sm' });

                }
            });
        });
    </script>
</body>
</html>
