@using Resources
@model Marfil.Dom.Persistencia.Listados.Base.IListados
@{
    ViewBag.Title = Model.TituloListado;
}
<h3>@Model.TituloListado</h3>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.Partial(Model.WebIdListado, Model)
        <div class="col-md-12"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <button class="btn btn-info" type="Submit" ng-disabled="!MainFormIsEnable">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    @General.LblListar
                </button>

                <button class="btn btn-gray" type="Reset">
                    <i class="ace-icon fa fa-recycle bigger-110"></i>
                    @General.LblLimpiar
                </button>

                <div class="pull-right">
                    <a href="@Url.Action("Index","Configuraciongraficas",new {id =Model.IdListado})" class="btn btn-success">
                        <i class="fa fa-bar-chart"></i>
                        @General.LblConfigurarGraficas
                    </a>
                </div>
            </div>
        </div>
    </div>
}

