@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}



<div>
    
    @using (Html.BeginForm(new {@class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(f => ((ProvinciasModel)Model).DescripcionPais, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                    <input type="text" aria-label="Pais" value="@Html.Raw(((ProvinciasModel) Model).DescripcionPais)" class="form-control" readonly="readonly" />
                </div>
                
            </div>

            <div class="form-group">
                @Html.LabelFor(f => ((ProvinciasModel) Model).Id, new {@class = "control-label col-md-2"})
                <div class="col-md-1">
                    <input type="text" aria-label="Codigo" value="@Html.Raw(((ProvinciasModel) Model).Id)" class="form-control" readonly="readonly"/>
                </div>
               
            </div>

            <div class="form-group">
                @Html.LabelFor(f => ((ProvinciasModel) Model).Nombre, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(f => ((ProvinciasModel) Model).Nombre, htmlAttributes: new {@class = "form-control", @readonly = ""})
                    @Html.ValidationMessageFor(f => ((ProvinciasModel) Model).Nombre, "", new {@class = "text-danger"})
                </div>
            </div>

           

        </div>
    }
</div>
@if (ViewBag.Modificar)
{
    <p>
        <a class="btn btn-info" href="@Url.Action("Edit", new {id = ((ProvinciasModel)Model).GetCodigo()})">
            <i class="ace-icon fa fa-pencil bigger-110"></i>
            @General.LblEditar
        </a>
    </p>
}
