@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Resources
@model Marfil.Dom.Persistencia.Model.Contabilidad.AsistenteCuentasModel
@{
    var toolbarModel = Model as IToolbar;
    ViewBag.Title =toolbarModel.Toolbar.Titulo;
}


<script src="@Url.Content("~/components/fuelux/js/wizard.js")"></script>
<script src="@Url.Content("~/assets/js/src/elements.wizard.js")"></script>
<div>
    <h3 class="green center">Seleccionar fichero y delimitador de contenido</h3>
    <br />    

    <div class="alert alert-info" align="center">
        <p>Contenido del fichero: </p>       
        <table border="1" align="center">
            <thead>
                <tr>
                    <th class="bolder center" style="min-width:120px">Cuenta</th>
                    <th class="bolder center" style="min-width:120px">Descripción</th>
                    <th class="bolder center" style="min-width:120px">RazonSocial</th>
                    <th class="bolder center" style="min-width:120px">Nif</th>
                    <th class="bolder center" style="min-width:120px">TipoNif</th>
                    <th class="bolder center" style="min-width:120px">CodigoISO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">1-4 o 8 dígitos</td>
                    <td class="center"></td>
                    <td class="center"></td>    
                    <td class="center"></td>                
                    <td class="center" style="min-width:250px">                                                     
                            1 - NIF/CIF <br />
                            2 - NIF operador intracomunitario <br />
                            3 - Pasaporte <br />
                            4 - NIE <br />
                            5 - Certificado de residencia fiscal <br />
                            6 - Otro documento probatorio                        
                        </td>                    
                    <td class="center">T.V 3166</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br />

    <div class="form-group">

        @using (Html.BeginForm("AsistenteCuentas", "Cuentas", new { AsistenteCuentasModel = Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.LabelFor(f => Model.Fichero, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.TextBoxFor(f => Model.Fichero, new { @type = "file" })
            <br />            
            @Html.LabelFor(f => Model.Cabecera, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.CheckBoxFor(f => Model.Cabecera)
            <br />
            <br />
            @Html.LabelFor(f => Model.Delimitador, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.TextBoxFor(f => Model.Delimitador, new { @Value = ';' })
            <br />
            <br />
            @Html.LabelFor(f => Model.Iso, new { @class = "control-label col-md-4", @style = "text-align: right" })
            @Html.DropDownListFor(f => Model.SelectedId, Model.Iso)
            <br />
            <br />
            <label class="control-label col-md-4" align="right"></label>
            <input type="submit" value="Importar" class="btn btn-default" />
        }

        <br />

        @if (TempData["Success"] != null && TempData["Errors"] == null)
        {
            <p class="alert alert-success" id="successMessage" align="center">@TempData["Success"]</p>
        }
        @if (TempData["Errors"] != null)
        {                    
            <pre class="alert alert-danger" id="divErrorMessage" align="center">@TempData["Errors"]</pre>
        }
    </div>    
</div>